<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <link href="../css/bootstrap.min.css"-->
<!--          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->
<!--    <style>-->
<!--        .container {-->
<!--            max-width: 560px;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->

<!--<h1> item/item.html </h1>-->
<!--&lt;!&ndash;<h2 th:text=""> ${name}, ${itemName} ${price} </h2>&ndash;&gt;-->

<!--</body>-->
<!--</html>-->